html, body {
  margin: 0;
  padding: 0;
}

body {
  background-image: url('cityscape2.jpg');
  background-size: cover; 
  background-attachment: fixed;
  background-color: #a0a0a0; 
}

.header-container {
  display: grid;
  grid-template-columns: 1fr auto 1fr; /* left 1fr, center auto, right 1fr */
  align-items: center;
  padding: 10px;
  background-color: #f0f0f0;
  opacity: .75;
}

.nav-links {
  grid-column: 2;        /* center */
  display: flex;
  gap: 15px;
  justify-content: center; 
}
.nav-links a{
    text-decoration: none;
    color:#0F0F0F;
}
.logo {
    grid-column: 1;        /* left */
    justify-self: start;
  }

.search-form {
  grid-column: 3;      
  display: flex;
  gap: 5px;
  justify-self: end;  
}
.search-form input{
    border-radius: 25px;
    width: 200px;
}

.header-container input, 
.header-container button {
  padding: 5px;
  border: 1px solid #ccc;
}

.mainText{
    padding-left: 50px;
    padding-top: 50px;
    line-height: 1.2;
    margin-left: 50px;
    font-size: 70px;
    font-family: "Times New Roman", serif;
    color: #FFFFFF;
}

.underMainText{
    line-height: 1.5;
    padding-left: 50px;
    margin-left: 50px;
    width: 275px; 
    overflow-wrap: break-all;
    font-family: "Times New Roman", serif;
    font-size: 17px;
    color: #FFFFFF;
}

/* This is where about page css is */

.AboutUs{
    margin-left: 200px;
    padding-top: 35px;
    font-size: 90px;
    font-family: Arial;
    color: #FFFFFF;
    font-weight: bold;
}
.about_page_bg{
    z-index: 1000;
    background-color: rgba(151, 151, 151, 0.65);
    width: 1200px;
    color: white;
    margin-left: 200px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-family:Trebuchet;
    line-height: 1.6;
}
.underAboutText{
    line-height: 1.5;
    padding-left: 50px;
    width: 850px; 
    overflow-wrap: break-all;
    font-family:Georgia;
    font-size: 17px;
    padding-left: 50px;
}
/*ourteam part of about*/
.ourTeamSection {
    display: flex;             
    align-items: center;     
    gap: 40px;    
    min-width: 150px;            
    
}
.ourTeamSection h1{
    margin-left: 300px;
    margin-top: 100px;
    color: white;
    line-height: 1.2;
    font-family:Arial;
    font-weight: bold;
    font-size: 60px;
}

.card-container {
    margin-top: 45px;
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px;
    padding: 20px;
    margin-left: 30px;
  }
  
  .card {
    background-color: #D3D3D3; 
    opacity: .95;
    border-radius: 8px; 
    padding: 20px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center; 
  }
  .titlebox{
    background-color:#0F52BA ;
    margin-left: 10px;
    margin-right: 10px;
    padding: 3px;
    border-radius: 15px;

  }
  .titlebox h5{
    font-weight: bold;
    color:#FFFFFF;


  }
  
  .card h3 {
    color: #FAFCF8; 
    text-shadow: 2px 2px #666666;
    font-weight: bold;
    margin-bottom: 7px;
  }
  
  .card p {
    color: #666666; 
    line-height: 1.5;
  }

  /* contact Us starts here*/
  

  .contactpage{
    padding:200px;
    align-items: center;
    grid-template-columns: 1fr auto 1fr;
    gap: 20px;
    display:grid;
    
  }
  .contactPageTxt{
    grid-column: 1;
  }

  .contactPageTxt h1{
    grid-column: 1;
    color: #FFFFFF;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    font-size: 55px;
  }
  .contactPageTxt p{
    grid-column: 1;
    color: #FFFFFF;
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
  }
  .contactInputArea{
    background-color:grey;
    opacity: .7;
    grid-column: 3;
    padding-left: 35px;
    display: flex;
  }
  .contactInputArea input, textarea{
    
    width: 100%;
    box-sizing: border-box;
    border-width: 1px;
    border-color: white;
    margin-bottom: 20px;
  }
  .contactInputArea p{
    color: white;
  }
  .contactInputArea button{
    width: 100%;
    border-radius: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 20px;
  }

  /*search results*/
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }

  .close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .close-button:hover,
  .close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }